/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Istok+Web:700,400);

body{
    font-family: 'Istok Web', sans-serif;
	background: url(../img/tileable-light-wood-textures-2.jpg);
	
	
}

h1, h2, h3, h4, h5, h6, th, tr, td, p, main, section {
	color: white;
	font-family: 'Istok Web', sans-serif;
	
}

h2{
	font-size: 19px;
}

a{
	color:	white;
}

main {
	width:	90%;
	margin-left:	5%;
	magin-bottom: 2%;
	font-family: 'Istok Web', sans-serif;
	-moz-column-count: 1;
	-moz-column-gap: 12px;
	-webkit-column-count: 1;
	-webkit-column-gap: 12px;
	column-count: 1;
	column-gap: 12px;
}
section {	
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

section img {
	display: block;
	align: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px solid black;
	-webkit-border-radius: 0 20px 0 20px;
	border-radius: 0 20px 0 20px;
}


th{
	text-align: left;
	line-height: 20px;
}


ul{
	width: 100%;
	padding: 0;
	margin: 9px;
	margin-left: auto;
	margin-right:auto;
	list-style: none;
	border: 1px solid #a1a7ad;
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 1px 0 #fff;
}

ul li{
	color: black;
	background: #f7f7f7;
	border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #cacaca;
	padding: 5px 10px;
	line-height: 60px;
}

ul li:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-color: #e5e5e5;
}
ul li:last-child{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-width: 0;
}

ul li span{
	float: right;
	display: block;
	color: #999;
	font-weight: normal;
}
/*li{
	display: list-item;
	list-style-position: inside;*/
}

#uebersicht ul{
	overflow: hidden;
	-webkit-background-clip: padding;
}

#uebersicht ul li{
	line-height: 70px;
	padding-left: 5px;
	/*background: url(../img/webtreatslightwood.jpg);*/
}

#uebersicht ul li img{
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}


hr {
	width:	75%;
	color:	grey;
	height:	1px;
 }

p{
	text-align:center;
	
}




/*Thumbnail Background*/
.thumb {
	width: 500px; height: 400px; margin: 70px auto;
	perspective: 1000px;
}
.thumb a {
	display: block; width: 100%; height: 100%;
	/*double layered BG for lighting effect*/
	background: 
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("../img/touch/apple-touch-icon-144x144-precomposed.png");
	/*disabling the translucent black bg on the main image*/
	background-size: 0, cover;
	/*3d space for children*/
	transform-style: preserve-3d;
	transition: all 0.5s;
}
.thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
/*bottom surface */
.thumb a:after {
	/*36px high element positioned at the bottom of the image*/
	content: ''; position: absolute; left: 0; bottom: 0; 
	width: 100%; height: 36px;
	/*inherit the main BG*/
	background: inherit; background-size: cover, cover;
	/*draw the BG bottom up*/
	background-position: bottom;
	/*rotate the surface 90deg on the bottom axis*/
	transform: rotateX(90deg); transform-origin: bottom;
}
/*label style*/
.thumb a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: bold 12px/36px Montserrat; text-align: center;
	/*the rotation is a bit less than the bottom surface to avoid flickering*/
	transform: rotateX(-89.99deg); transform-origin: top;
	z-index: 1;
}
/*shadow*/
.thumb a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5); 
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	transition: all 0.5s; 
	/*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
	opacity: 0.15;
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform-origin: bottom;
}
.thumb:hover a:before {
	opacity: 1;
	/*blurred effect using box shadow as filter: blur is not supported in all browsers*/
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	/*pushing the shadow down and scaling it down to size*/
	transform: rotateX(0) translateZ(-60px) scale(0.85);
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and  (orientation:landscape) {
	
main {
	width:	95%;
	margin-left:	5%;
	magin-bottom: 2%;
	font-family: 'Istok Web', sans-serif;
	-moz-column-count: 2;
	-moz-column-gap: 12px;
	-webkit-column-count: 2;
	-webkit-column-gap: 12px;
	column-count: 2;
	column-gap: 12px;
}
	}
